#about-jumbo h1, #contact-jumbo h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 5em;
	font-weight: 900;
	color: #F9BB4D; /* D7CCC8 */
	position: absolute;
	bottom: 50px;
	top: 50px;
	left: -150px;
}

/* #about-photo {
	background-image: url('https://images.unsplash.com/photo-1516101922849-2bf0be616449?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f2845bb75e81dbda93a0d20726bd7759&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb');
	background-size: cover;
}

#contact-photo {
	background-image: url('https://images.unsplash.com/photo-1502164991821-03d3e78d9bde?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2011b4c7d0514ebfb6d5a857003f7808&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb');
	background-size: cover;
} */

#work {
	color: #F9BB4D;
	font-weight: bold;
}

#about-photo, #contact-photo {
	height: 590px;
	z-index: -50;
}

#about-text {
	font-size: 2em;
}

#contact-jumbo h1 {
	left: 350px;
}

#contact-text {
	margin-top: 150px;
}

code {
	background-color: transparent;
	font-size: 13px;
}

.code_tag, .code_inline {
	display: block;
}

.code_inline {
	text-indent: 50px;
}

.code_line {
	text-indent: 25px;
	display: block;
}

pre {
  padding: 2px 4px;
  margin: 0px;
  font-size: 14px;
  color: #c7254e;
  background-color: transparent;
	border: 0px;
}

#contact-photo pre {
	font-size: 22px !important;
	margin-top: 150px;
}

#ct-1 {
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}

#contact-text h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
}

#contact-text p > a {
	text-decoration: none;
	color: #D7CCC8;
	border-bottom: 3px solid #F9BB4D;
	font-size: 2em;
	transition: 500ms;
}

#contact-text p > a:hover {
	color: black;
	border-bottom: 0px solid white;
	transition: 500ms;
}

/* Hide Social */
a[href*="linkedin"] {
	display: none;
}

@media screen and (min-width: 992px) and (max-width: 1300px) {
	#ct-1 {
		margin-bottom: 20px !important;
	}

	#about-text {
		margin-left: 0px;
		width: 100% !important;
	}

	#contact-jumbo {
		margin-left: 0px;
	}

	#contact-photo {
		margin-left: 16.6%;
	}
}

@media screen and (max-width: 992px) {
	#about-jumbo h1 {
		top: -100px;
		left: 0px;
		margin: 10px;
	}

	#ct-1 {
		margin-top: 0px !important;
		padding-top: 100px !important;
	}

	#about-text {
		width: 100% !important;
	}

	#contact-jumbo h1 {
		position: initial;
		text-align: center;
	}

	#contact-text {
		border-top: 3px solid #F9BB4D;
		margin-top: 0px;
	}

	#contact-photo {
		display: none;
	}

	#about-photo {
		height: 350px;
	}

}

@media screen and (max-width: 500px) {
	#ct-1 {
		padding-top: 0px !important;
		margin-bottom: 10px !important;
	}

	#about-jumbo h1, #contact-jumbo h1 {
		font-size: 3em;
		position: initial;
		text-align: center;
	}

	#about-photo {
		display: none;
	}

	#about-text {
		font-size: 1.5em;
		margin: 0 auto;
	}
}
