h1, h2, h3, h4, h5, h6 {
	/* color: #333; */
	font-family: 'Open Sans', sans-serif;
}

body {
	/* background-color: #F1E9BD; */
}

/* ct-1 */

#main-photo {
	border: 1px solid #eee;
	height: 600px;
	background-image: url('../Images/atlanta-skyline.jpg');
	background-size: cover;
	filter: grayscale(100%);
	background-position: 50% 50%;
}

#main-text {
	right: 10px; /* right: 80px; */
	font-family: 'Montserrat', sans-serif;
}

#spe-txt {
	font-size: 200%;
	font-weight: 900;
}

.link-text a {
	border-bottom: 3px solid #F9BB4D;
	padding-bottom: 5px;
	text-decoration: none;
	color: black;
	font-family: 'Oswald', sans-serif;
}

#ct-1 {
	margin-top: 100px;
	margin-bottom: 150px;
	overflow: hidden;
	color: #333;
}

#main-header {
	font-size: 1.9em;
	margin: 10px;
	padding: 10px 25px;
	line-height: 1.3em;
}

/* ct-2 */

.project-col {
	border: 1px solid black;
	height: 600px;
	margin-bottom: 20px;
	overflow: hidden;
}

.project-overlay {
	background-color: #eee;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: 500ms;
	opacity: 0;
}

.project-col:hover > .project-overlay {
		transition: 500ms;
		top: 0px;
		opacity: 0.8;
}

.project-title {
	text-align: center;
	margin-top: 35%;
	font-size: 3em;
	font-family: 'Oswald', sans-serif;
}

.project-descr {
	text-align: center;
	font-size: 1.5em;
}

.project_link {
		text-decoration: none !important;
		color: black;
}

.project_link:focus > .project-col > .project-overlay {
	transition: 500ms;
	top: 0px;
	opacity: 0.8;
}

.rows {
	margin-top: 40px;
}

/* ct-3 */

#ct-3 {
	margin-top: 30px;
}

.about-con {
	margin-top: 60px;
}

#about-text {
	width: 70%;
	font-weight: 2.5em;
	line-height: 1.3em;
}

/* footer */
footer {
	margin-top: 50px;
	height: 100%;
	color: white;
	/* border-top: 1px solid #212121; */
	/* background-color: #212121; */
}

#footer-right {
	background-color: #F9BB4D; /*D7CCC8*/
	height: 100%;
	padding: 50px;
}

#footer-left {
	color: #D7CCC8;
	height: 100%;
	padding: 50px;
}

#footer-left h1 {
	color: #333;
	border-bottom: 3px solid #F9BB4D;
	padding-bottom: 5px;
}

.social-icon {
	font-size: 3em !important;
	margin-right: 10px;
	border-radius: 50%;
	padding: 10px;
	background-color: #F9BB4D;
	color: white;
	transition: 500ms;
}

.social-icon:hover, .social-icon-sm:hover {
	background-color: white;
	color: #F9BB4D;
	transition: 500ms;
}

#social-section-sm {
	display: none;
}

#social-list {
	list-style: none;
}

#social-section {
	display: flex;
	margin: 0 auto;
	justify-content: space-evenly;
	margin-top: 30px;
}

#social-list li {
	margin-bottom: 20px;
}

#social-list li > h3 {
	display: inline;
	font-size: 1.5em;
}

#social-list li > a {
	display: inline;
}


#footer-right {
	color: white !important;
}

.footer-list {
	list-style: none;
	margin-bottom: 35px;
}

/* #footer-links {
	writing-mode: vertical-rl;
	text-orientation: mixed;
} */

#footer-links a {
	text-decoration: none;
	color: white;
}

#footer-links h1:before {
  color: white;
  content: ' - ';
}

#email {
	padding-bottom: 10px;
	display: inline;
	border: 0px;
	border-bottom: 4px solid white;
	font-size: 24px;
	background-color: transparent;

}
/* Email Modal */
.modal {
  text-align: center;
}

.modal-col {
	height: 400px;
}

.modal-dialog {
	width: 800px !important;
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	height: 400px;
}

.modal-header {
	padding: 35px;
	background-color: #f9bb4d;
	color: white;
}

.modal-content {
	background-color: white;
	height: 100%;
}

#modal-header {
	border-bottom: 4px solid #f9bb4d;
	display: inline-block;
}

.modal-input {
	border: 0px;
	border-bottom: 2px solid #eee;
	margin-bottom: 10px;
}

.modal-textarea {
	border: 0px;
	background-color: #eee;
	border-radius: 10px;
	resize: none;
	margin-bottom: 5px;
}

.modal-col {
	background-color: white;
	padding: 30px;
}

#modal-envelope-open {
	font-size: 42px;
}

.modal-col-side {
	background-color: #f9bb4d;
	height: 400px;
	color: white;
}

.modal-col-side h3 {
	font-size: 21px;
}

#contact-info {
	margin-top: 50px;
	margin-bottom: 50px;
}

#contact-info h4 {
	margin-bottom: 20px;
}

.social-modal {
	font-size: 30px;
}

.social-modal a {
	color: white;
}

textarea {
	margin: 15px;
	width: 100%;
	padding: 10px;
	height: 110px;
}

label {
	display: block;
}

#modal-send-btn {
	border: 2px solid #558B2F;
	background-color: #558B2F;
	border-radius: 15px;
	color: white;
	padding: 10px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	margin-top: 5px;
}

#modal-send-btn:active, #modal-send-btn:focus {
	background-color: white !important;
	color: #558B2F;
}

#modal-close-btn {
	border: 2px solid #EF5350;;
	background-color: #EF5350;
	border-radius: 15px;
	color: white;
	padding: 10px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	margin-top: 5px;
}

#modal-close-btn:active, #modal-close-btn:focus {
	background-color: white !important;
	color: #EF5350;
}

.modal-btn {
	margin: 5px;
}

@media screen and (min-width: 992px) {
	#footer-links {
		padding-left: 50px;
	}
}

@media screen and (max-width: 992px) {
	#main-photo {
		height: 400px;
	}

	#spe-txt {
		top: -20px;
		position: absolute;
	}

	#main-text {
		position: initial;
	}

	#ct-1 {
		margin-bottom: 50px;
		padding-top: 50px;
	}

	.project-col {
		height: 420px;
	}

	.rows {
		margin-top: 0px;
	}

	#footer-links {
		writing-mode: initial;
	}

	.modal-dialog {
		width: 500px !important;
		height: 580px !important;
		text-align: center;
	}

	.modal-col-side {
		display: none !important;
	}

	.modal-input {
		text-align: center;
	}

	#social-section-sm {
		display: flex;
		margin: 0 auto;
		justify-content: space-evenly;
		margin-top: 45px;
	}

	.social-icon-sm {
		font-size: 2em !important;
		margin-right: 10px;
		border-radius: 15px;
		padding: 10px;
		background-color: #F9BB4D;
		color: white;
		transition: 500ms;
	}

	.modal-textarea {
		margin: 0 auto;
	}
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

@media screen and (max-width: 500px) {
	.modal-dialog {
		width: 300px !important;
		display: inline-block;
		text-align: left;
		vertical-align: middle;
		height: 490px !important;
	}

	#modal-header {
		margin-top: 0px;
	}

	#main-text {
		padding: 0px;
		margin: 0px;
	}

	#main-photo {
		display: none;
	}

	.footer-list {
		padding-left: 0px;
	}

	#footer-right {
		padding: 25px;
	}

	.project-col {
		height: 300px;
	}

	footer {
		margin-top: 0px;
	}

	#footer-left {
		padding-top: 10px;
	}

	textarea {
		margin: 0px;
	}

	.modal-col-side {
		display: none;
	}

	#social-section-sm {
		display: none;
	}
}

/* Projects */

#project-1 {
	background-image: url('../Images/project_1_images/project_1.jpg');
	background-size: cover;
	background-position: 50% 50%;
}

#project-2 {
	background-image: url('../Images/project_2_images/project_2.png');
	background-size: cover;
	background-position: 50% 50%;
}

#project-3 {
	background-image: url('../Images/project_3_images/project_3.png');
	background-size: cover;
	background-position: 50% 50%;
}

#project-4 {
	background-image: url('../Images/project_4_images/project_4_home.png');
	background-size: cover;
	background-position: 50% 50%;
}

#other-projects {
	max-height: 300px !important; /* Only use if it's the only col in the row */
}

#other-projects > .project-col {
	height: 100% !important; /* Only use if it's the only col in the row */
}

#other-projects > .project-col > .project-title {
	margin-top: 10% !important; /* Only use if it's the only col in the row */
}

.fa-arrow-circle-right {
	font-size: 40px !important;
	color: #f9bb4d;
}
