/*Navbar*/

.navbar {
	background-color: transparent;
	border: none;
	font-size: 1.3em;
	padding: 10px;
}

.navbar-nav {
	float: right;
}

.navbar-link, .footer_link {
	border: 2px solid transparent;
	transition: 0ms !important;
}

.navbar-link:focus, .footer_link:focus {
	border: 2px solid #29B6F6;
	transition: 0ms !important;
}

.navbar a {
	margin: 10px; /*media*/
	color: black;
	transition: 500ms;
}

.navbar a:hover {
	transition: 500ms;
	color: #F9BB4D !important;
}

.navbar-default .navbar-nav > li > a {
	color: black;
}

.navbar-default .navbar-toggle {
	border: none;
}

.navbar-toggle > span {
	color: black;
	height: 3px !important;
}

#active-link {
	color: black;
	border-bottom: 2px solid #bdbdbd;
	padding-bottom: 5px;
}

.navbar-right {
	margin-right: 50px;
}

.navbar-collapse {
	border: none;
}

@media screen and (max-width: 768px) {
	.navbar-nav {
		float: none;
		text-align: center;
	}
}
