#ct-1-p {
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-size: contain !important;
  background-color: transparent;
}

.project-jumbo {
  height: 700px;
  margin: 0px 125px 125px 125px;
}

.s-project-jumbo {
	height: 600px;
	margin: 70px 200px 200px 200px;
	margin-bottom: 70px !important;
}

.project-title-s {
	text-align: center;
	font-size: 4em;
	margin-top: 20%;
}

.project-descr-s {
	text-align: center;
	font-size: 2.5em;
}

/* .project-overlay-s {
    visibility: hidden;
    transition: 500ms;
}

.project-jumbo:hover > .project-overlay-s {
	transition: 500ms;
	visibility: visible;
} */

#project-link {
	transition: 300ms;
	padding: 10px 10px 10px 5px;
	text-decoration: none;
}

#project-link:hover {
	background-color: black;
	color: white;
	padding: 10px;
	transition: 150ms;
}

#project-title-m {
  font-size: 3.7em;
  display: inline-block;
  font-family: 'Rozha One', serif;
  border-bottom: 3px solid #F9BB4D;
}

.project-text {
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  margin: 40px;
  line-height: 40px;
  padding-left: 5px;
}

.s-project-text {
  font-size: 1.3em;
  font-family: 'Raleway', sans-serif;
  line-height: 25px;
}

.sub-project-title {
  font-size: 2.5em;
  display: inline-block;
  font-family: 'Rozha One', serif;
  border-bottom: 3px solid #F9BB4D;
}

.project-image_sub {
  background-color: #eee;
  height: 600px;
  width: 550px;
}

.skill_list {
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
}

#ct-3-p {
  margin-bottom: 50px;
}

#responsive-jumbo {
  height: 900px;
  background-color: transparent;
}

#responsive-section {
  text-align: center;
}

.response-btn {
  border: none;
  background-color: transparent;
  font-size: 1.8em;
  margin: 10px;
}

#tablet {
  width: 400px;
  height: 600px;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 10px 10px 10px 10px;
  padding: 40px 30px 40px 30px;
  background-color: black;
  display: none;
}

#t-inner-frame {
  border: 2px solid black;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  padding: 30px;
}

#t-button {
  width: 20px;
  height: 20px;
  border: 2px solid grey;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 5px;
}

#phone {
  width: 300px;
  height: 550px;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 40px;
  padding: 60px 20px 60px 20px;
  background-color: black;
  display: none;
}

#p-audio {
  width: 50px;
  height: 2px;
  background-color: grey;
  border: 1px solid grey;
  margin: 0 auto;
  position: relative;
  bottom: 20px;
}

#p-inner-frame {
  border: 2px solid black;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  padding: 30px;
}

#p-button {
  width: 20px;
  height: 20px;
  border: 2px solid grey;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
}

#desktop-frame {
  width: 1200px;
  height: 750px;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 30px 30px 0px 0px;
  padding: 60px 40px 60px 40px;
  background-color: black;
}

#d-inner-frame {
  border: 2px solid black;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  padding: 30px;
}

#ct-5-p {
  overflow: hidden;
}

#d-outer-frame {
  border: 2px solid #cacbcd;
  width: 1200px;
  background-color: #cacbcd;
  padding: 30px;
  height: 100px;
  margin: 0 auto;
  border-radius: 0px 0px 30px 30px;
}

#d-camera {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #eee;
  border: 1px solid #eee;
  margin: 0 auto;
  position: relative;
  bottom: 30px;
}

.skill-icon {
	width: 75px;
	height: 75px;
	margin: 20px;
}

#phoneLeft {
	right: -250px;
	position: relative;
}

#phoneRight {
	right: 250px;
	position: relative;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
	.project-jumbo {
		margin: 50px;
	}

	.s-project-jumbo {
		margin: 50px;
	}

	#phoneLeft {
		right: 0px;
	}

	#phoneRight {
		right: 0px;
	}
}

@media screen and (max-width: 992px) {
  .project-overlay-s {
    display: none;
  }

  .project-image_sub {
    width: 100%;
    height: 450px;
    margin: 70px 0px 30px 0px;
  }

  #ct-4-p {
    display: none;
  }

	.project-jumbo {
		height: 500px;
		width: 100%;
		margin: 0 auto;
	}

	.s-project-jumbo {
		margin: 0px;
		margin-top: 50px;
    height: 100% !important;
  	margin-bottom: 10px !important;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-color: transparent;
	}

	#phoneLeft {
		right: 0px;
	}

	#phoneRight {
		right: 0px;
	}

  .phone-type {
    display: block;
    margin: 0 auto;
    float: initial !important;
  }

	.project-text {
		margin: 20px;
	}

	#footer-left {
		display: none;
	}

  #ct-1-p {
  	height: 500px !important;
  	width: 90%;
  	margin: 0 auto;
  	background-size: contain !important;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 500px) {
  #ct-1-p {
    background-color: white;
    height: 300px !important;
    width: 100%;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-bottom: 0px;
  }


  #project-title-m {
    font-size: 3em;
  }

	.project-jumbo {
		height: 300px;
		width: 100%;
		margin: 0 auto;
  }

	.s-project-jumbo {
		margin: 0px;
		margin-top: 50px;
		height: 200px;
	}

	#phoneLeft {
		right: 0px;
	}

	#phoneRight {
		right: 0px;
  	float: none !important;
	}

	.project-text {
		margin: 20px;
	}

	#footer-left {
		display: none;
	}

  .project-image_sub {
    width: 100%;
    height: 300px;
    margin: 100px 0px 50px 0px;
  }

  .sub-project-title {
    font-size: 2.5em;
    text-align: center;
    width: 100%;
  }

  .skill_list {
    padding-left: 0px;
    text-align: center;
  }

	#ct-5-p {
		padding: 0px;
	}

  .s-project-text {
    margin-bottom: 20px;
  }
}
